

@font-face {
    font-family: 'Graphik';
    src: url('/GraphikBlack.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('/GraphikThin.otf') format('opentype');
    font-weight: 100;
    font-style: thin;
}

@font-face {
    font-family: 'Graphik';
    src: url('/GraphikBlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('/GraphikBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('/GraphikBoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

/* Repeat the pattern for each weight and style */
@font-face {
    font-family: 'Graphik';
    src: url('/GraphikExtralight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}



html, body {
    font-family: 'Graphik', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents scroll bar */
}





.fullscreen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(4, 0, 255); /* Full-screen starts with a blue background */
    cursor: pointer; /* Indicates the element is clickable */
    position: fixed; /* Ensures the div remains properly placed */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    border-radius: 0%;  /* Starts as a rectangle */

    transform: translate(-50%, -50%); /* Adjust positioning for centering */
}



#container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center; /* Ensures centered content */
    cursor: pointer;
}

#container1 {
    display: flex;
    flex-direction: column;
  }

.circle {
    background-color: blue;
    transition: all 0.5s ease;
    border-radius: 50%;
    width: 150vmax;
    height: 150vmax;
    cursor: url('white-click-cursor.png'), auto;
}

.viewMenu{
    top: 0 !important;;
}

#text {
    font-size: 16px;
    color: white;
    display: none; /* Initially hidden */
    position: absolute; /* Allows for specific placement */
    white-space: nowrap;
    opacity: 0; /* Start fully transparent */
}

#text {
    display: none; /* Initially hide text */
    font-size: 20px;
    font-weight: 100;
    color: #0400ff;
    margin-left: 1px; /* Space between the circle and the text */
    display: none; /* Initially hidden */
    position: absolute;
    white-space: nowrap;
    opacity: 0; /* Start fully transparent */

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Padding around the header content */
    background-color: #fff; /* White background */
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); Subtle shadow for depth */
    position: sticky;
    top: 0; /* Stick to the top */
    z-index: 1000; /* Ensures the header stays above other content */

  }
  .logo{
    display: flex;
    align-items: center; 
    height: 35px;


  }

  .menu{
    
    font-size: 1em;
    font-weight: 400;
    background: white;
    color: rgb(40, 40, 40);
    padding: 10px 20px;
    box-sizing: border-box;
    transition: top 0.5s ease-in-out
  }

  nav>a{
    color: rgb(40, 40, 40);
    text-decoration: none;
    padding: 10px;
  }


.dot-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin-top: 16%;
    margin-bottom: 7%;
}

.dot-wrapper {
    flex: 1; /* Ensures equal division of space */
    display: flex;
    justify-content: center; /* Centers the dot horizontally */
    position: relative; /* Context for positioning text */
    align-items: center; /* Centers the dot vertically */
    height: 60px; /* Adjust height as needed */
}

.dot {
    width: 15px;
    height: 15px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%; /* Makes the dot circular */
    transition: background-color 0.3s ease; 
}

.dot-text {
    position: absolute;
    bottom: -20px; /* Adjust distance below the dot */
    width: 100%;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s ease;
    visibility: hidden;
    font-size: 1.4em;
    font-weight: 400;
    color: rgb(40, 40, 40);
}

.dot-wrapper:hover .dot {
    background-color: rgb(4, 0, 255); /* Color changes on hover */
}

.dot-wrapper:hover .dot-text {
    opacity: 1;
    visibility: visible;
}



.scrollable-container {
    width: 90%;
    max-height: 900px;
    margin: 50px auto; /* Centers the div and adds vertical spacing */
    overflow-x: hidden; /* Enables horizontal scrolling */
    overflow-y: scroll; /* Disables vertical scrolling */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    scrollbar-width: none; /* Firefox */
}

.scrollable-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders don't double up */
    table-layout: fixed; /* Helps in maintaining equal column widths */
}

td {
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    border-top: 1px solid rgb(40, 40, 40,0.5);
    border-bottom: 1px solid rgb(40, 40, 40,0.5);
    text-align: left; /* Default text alignment */
    width: 33.333%; /* Divides the table into three equal parts */
    font-size: 1.0em;
    font-weight: 400;
    color: rgb(40, 40, 40);
}

td.center-align {
    text-align: center;
}

td.right-align {
    text-align: right;
}



/* about*/

.circle_dot{
    font-size: 50px; /* Controls the size of the circle */
    color: rgb(0, 0, 0); /* Sets the color of the circle */
    margin: 0 auto; 
    /* margin-top: 50%; */
}

#text_aboutme {
    margin-top: 20px;
    color: rgb(4, 0, 255);
    width: 66%;
    margin: 0.6em;
    line-height: 1.2;
    font-weight: 300;
    text-align: justify;
    
}

#themecolor{
    color: rgb(4, 0, 255);   
}
#bold{
    font-weight: 600; /* makes text bold */
    display: block; /* makes the span element start on a new line */
    margin-top: 10px; /* adds space above the span */
    margin-bottom: 10px     ; /* adds space below the span */
}

#aboutme_text_div{
    display: contents;

}

.about_page_one, .about_page_two {
    height: 100vh; /* 100% of the viewport height */
    display: flex;
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
    flex-direction: column;
  }